@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: "Nunito Sans", sans-serif;
  overflow: "hidden";
}

@layer components {
  .wrapper {
    @apply transform-gpu bg-light-mode-background text-light-mode-text transition-all duration-150 dark:bg-dark-mode-background dark:text-dark-mode-text;
  }
  .element {
    @apply transform-gpu bg-light-mode-element text-light-mode-text transition-all duration-150 dark:bg-dark-mode-element dark:text-dark-mode-text;
  }
  .filter {
    @apply transform-gpu border-light-mode-element bg-light-mode-element transition-all duration-150 focus:border-dark-mode-element dark:border-dark-mode-element dark:bg-dark-mode-element dark:focus:border-light-mode-element;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6,
p {
  font-weight: 300;
}
